$myorange: #ff942e;
$myred: #df3670;
$myblue: #4067f9;
$liorange: #fee4cbf3;
$lired: #fed2cba0;
$liblue: #dbf6fda0;
$ligreen: #c8f7dca0;
$mytext: #333333;
$mygreen: #34c471;
$mydark: #1f1c2e;
$mywhite: #fff;
$libg: #b9b9b945;
$limodal: #f4f4f4e3;
$dkmodal: #f4f4f4e3;

$dkbg: #1f1c2ec4;